/* RESET */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General */
body {
    font-family: 'PT Sans', sans-serif;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

a {
    color: white;
    text-decoration: none;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

h2 {
    font-size: 2rem;
}

.test-main {
    margin: 20px 0 40px 0;
    line-height: 2rem;
    color: black;
    padding: 0 20px;
}

/* HEADER */

header {
        background-color: rgb(28, 134, 255);
}

.box-header {
    justify-content: space-between;
    height: 70px;
    width: 100%;
    background-color: rgb(28, 134, 255);
    color: rgb(255, 255, 255);
    align-items: center;
    font-size: 2rem;
}

.logo {
    margin: 10px 25px 0 25px;
    max-width: 30%;
}

.line-emote {
    display: flex;
    max-width: 70%;
    margin: 0 25px;
}

.list-header {
    display: none;
    margin-left: 25px;
    font-size: 1rem;
    list-style-type: none;
    justify-content: space-between;
}

.list-header li {
    margin-right: 1rem;
}

.button {
    color: black;
    border: 1px white;
    border-radius: 20px;
    background-color: white;
    padding: 5px;
}

/* MAIN */

/* PART1 */

.card-large {
    background-color: rgb(177, 221, 255);
    border-radius: 25px;
}

.title-main1 {
    color: rgb(28, 134, 255);
}

.test-main1 {
    margin: 20px 0 40px 0;
    line-height: 2rem;
    color: black;
}

.img-main1{
    display: flex;
    margin-top: 40px;
    margin-bottom: -20px;
    height: 100%;
    width: 100%;
}

.button-appstore {
    color: white;
    background-color: rgb(28, 134, 255);
    padding: 10px 50px;
}

.card-small {
    margin-top: 40px;
    background-color: rgb(177, 221, 255);
    padding: 20px;
    border-radius: 25px;
    text-align: center;
}

.simbol-card {
    font-size: 6rem;
    color: rgb(28, 134, 255);
    margin: 10px 0;
}

.card-left {
    padding: 20px;
}

.card-right {
    padding: 20px;
}

/* PART2 */

.back-main2 {
    background-color: rgba(149, 147, 230, 1);
    width: 100%;
    padding-bottom: 30px;
}

.strategic {
    color: white;
    align-items: center;
}

.title-strategic2 {
    margin-top: 30px;
    color: black;
}

.strategic2 {
    background-color: white;
    border-radius: 40px;
    text-align: center;
}

.img-main2 {
    margin-top: 40px;
    height: 100%;
    width: 100%;
}

.img-main2-1 {
    margin-top: 40px;
    height: 100%;
    width: 100%;
}

.test-strategic {
    margin: 50px 0;
    line-height: 2rem;
}

.test-strategic2 {
    margin: 50px 10px;
    line-height: 2rem;
    font-style: italic;
}

.fa-arrow-down {
    color: black;
    font-size: 1.3rem;
    background-color: rgba(149, 147, 230, 1);
    border: 20px solid rgba(149, 147, 230, 1);
    border-radius: 50%;
    margin-bottom: 20px;
}

.title-strategic {
    margin-top: 40px;
}

/* PART 3 */

.box-main3 {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    margin-top: 40px;
}

.title-main3 {
    padding: 20px 0;
    color: rgba(149, 147, 230, 1);
}

.card-main3 {
    margin: 0 auto;
    width: 100%;
    background-color: rgba(149, 147, 230, 1);
    border-radius: 40px;
    text-align: center; 
    margin-bottom: 30px;
    color: white;
}

.box-img3 {
    position: relative;
    height: 200px;
    width: 200px;
    overflow: hidden;
    display: inline-block;
    border-radius: 50%;
    margin: 20px 0 20px 0;
}

.img-main3 {
    width: auto;
    height: 100%;
    margin-left: -50px;
}

.test-main3 {
    margin: 20px 0 20px 0;
    line-height: 2rem;
    color: rgb(255, 255, 255);
    padding: 0 20px;
}

h3 {
    padding-bottom: 20px;
}

/* PART 4 */

.title-main4 {
    color: white;
    text-align: center;
    padding: 50px 0;
    width: 90%;
    margin: 0 auto;
}

.box-card4 {
    width: 90%;
    height: 100%;
    border: 1px solid rgb(255, 255, 255);
    background-color: white;
    margin: 0 auto;
    border-radius: 40px;
    padding-bottom: 50px;
    margin-top: 40px;
}

.number-main4 {
    color: rgba(149, 147, 230, 1);
    font-size: 4rem;
    padding: 10px 0 0 20px;
}

.mini-title4 {
    color: rgba(149, 147, 230, 1);
    padding: 20px;
    font-size: 1.5rem;
}

.button-more {
    font-size: 1.3rem;
    color: rgb(255, 255, 255);
    background-color: rgba(149, 147, 230, 1);
    border-radius: 20px;
    padding: 10px 80px;
    margin-left: 20px;
}

/* PART 5 */

.box-test-main5 {
    text-align: left;
    padding: 0 40px;
    width: 90%;
}

.title-main5 {
    font-size: 2.5rem;
    margin: 40px 0;
    color: rgba(149, 147, 230, 1);
}

.test-main5 {
    margin: 20px 0 40px 0;
    line-height: 2rem;
}

.box-img5 {
    position: relative;
    height: 200px;
    width: 200px;
    overflow: hidden;
    display: inline-block;
    margin: 20px 0 20px 0;
}

.img-main5 {
    width: auto;
    height: 100%;
    margin-left: 0px;
    border-radius: 50%;
}

.test-linkedin{
    color: rgba(149, 147, 230, 1);
    font-size: 1.5rem;
    padding: 40px 0;
}

.button-linkedin {
    color: rgb(255, 255, 255);
    background-color: rgba(149, 147, 230, 1);
    border-radius: 20px;
    padding: 10px 10px;
}

.quot {
    position: absolute;
    color: rgba(149, 147, 230, 1);
    font-size: 4rem;
    top: -10px;
    right: 0px;
}

/* PART 6 */

.back-main6 {
    margin-top: 50px;
    background-color: rgba(149, 147, 230, 1);
    width: 100%;
    padding-bottom: 30px;
}

.box-main6 {
    text-align: center;
    margin: 0 auto;
    width: 90%;
}

.mini-title6 {
    color: lightgray;
    padding-top: 50px ;
}

.title-main6 {
    color: white;
    padding: 20px 0;
}

h1 {
    font-size: 5rem;
    color: rgba(253, 193, 95, 1);
    margin-bottom: -10px;
}

.test-main6 {
    margin: 20px 0 40px 0;
    line-height: 2rem;
    color: white;
    padding: 0 20px;
    margin: 40px 0;
}

.button-started {
    background-color: rgb(255, 255, 255);
    color: rgba(149, 147, 230, 1);
    border-radius: 40px;
    padding: 20px 80px;
}

.fa-circle {
    font-size: 0.3rem;
    vertical-align: middle;
}