/* RESET */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General */
body {
    font-family: 'PT Sans', sans-serif;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

a {
    color: white;
    text-decoration: none; 
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* HEADER */

.box-header {
    justify-content: space-between;
    height: 70px;
    width: 100%;
    background-color: rgb(28, 134, 255);
    color: rgb(255, 255, 255);
    align-items: center;
    font-size: 2rem;
}

.logo {
    margin: 10px 25px 0 25px;
    max-width: 30%;
}

.line-emote {
    display: flex;
    max-width: 70%;
    margin: 0 25px;
}

.list-header {
    display: none;
    margin: 0 25px;
    font-size: 1rem;
    list-style-type: none;
    justify-content: space-between;
}

.list-header li {
    margin-right: 1rem;
}

.button {
    color: black;
    border: 1px white;
    border-radius: 20px;
    background-color: white;
    padding: 5px;
}

/* MAIN */

/* PART1 */

.card-large {
    background-color: rgb(177, 221, 255);
    padding: 20px;
    border-radius: 25px;
}

.titol-main1 {
    color: rgb(28, 134, 255);
}

.test-main1 {
    margin: 20px 0 40px 0;
    line-height: 1.5rem;
}

.img-main1{
    display: flex;
    margin-top: 40px;
    margin-bottom: -20px;
    height: 100%;
    width: 100%;    
}

.button-appstore {
    color: white;
    background-color: rgb(28, 134, 255);
    padding: 10px 80px;
}

.card-small {
    margin-top: 40px;
    background-color: rgb(177, 221, 255);
    padding: 20px;
    border-radius: 25px;
    text-align: center;
}

.simbol-card {
    font-size: 6rem;
    color: rgb(28, 134, 255);
    margin: 10px 0;
}